<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-in</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" type="text/css">
    <link rel="stylesheet" href="css/all.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="form-box">
            <div class="form-register">
                <div class="t_logo d-flex justify-content-center mb-2">
                    <img class='twitter-logo' src="assets/thumb-logo-twitter.png" alt="twitter_logo">
                </div>
                <div class="container">
                    <div class="sign-in active" id="signin">
                        <div class="content">
                            <div class="text-center mt-4 name">
                                <h1>Sign in to Twitter</h1>
                            </div>
                            <div class="google text-center">
                                <!-- <a class="oauth-container btn darken-4 white black-text" href="/users/google-oauth/" style="text-transform:none"> -->
                                <div class="google-logo">
                                    <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in"
                                        src="assets/google-logo-9824.png" />
                                </div>
                                <div class="google-p">
                                    <span>Sign-in with Google</span>
                                </div>
                            </div>
                            <div class="mt-4 text-center or">
                                <p>OR</p>
                            </div>
                            <div class="form">
                                <form class="" action="/signin" method="post" onsubmit="return fill()">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" name="email" id="floatingInput"
                                            placeholder="Email Address, username or phone number">
                                        <label for="floatingInput" class="floatingInput text-muted">Enter
                                            Email-Address</label>
                                    </div>
                                    <small id="alert"></small>
                                    <small id="alert2" class="text-danger">
                                        <%=msg%>
                                    </small>
                                 
                                    <div class="Login">
                                        <a href="javascript:void(0)" class="login-a mt-4"
                                            onclick="change_tab()">Next</a>
                                    </div>
                                    <small id="warning"></small>
                            </div>
                        </div>
                        <div class="text-center mt-4 fs-6">
                            <a href="javascript:void(0);">Forget password?</a> or <a href="javascript:void(0);">Sign
                                up</a>
                        </div>
                    </div>
                    <div class="sign-in inactive" id="signin3">
                        <div class="content">
                            <div>
                                <h1 class="h1-pass">Enter Your Password</h1>
                            </div>

                            <div class="form mt-4">
                                <!-- <form class="" action="/signin" method="post"> -->
                                <div class="form-floating">
                                    <input type="password" class="form-control" name="password" id="floatingInput3">
                                    <label for="floatingInput3" class="floatingInput text-muted">Password</label>
                                </div>
                            </div>
                               
                            <div class="mt-4 fs-6">
                                <a href="javascript:void(0);">Forget password?</a>
                            </div>
                            <div class="Login">
                                <input type="submit" id="submit" class="login-input" value="Log in" onclick="change_tab()">
                            </div>
                            <small id="warning2" class="text-danger"></small>
                        </div>
                        </form>
                        <div class="mt-4 fs-10">
                            <p>Don't have an account?<a href="javascript:void(0);">Sign up</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</body>
<script>
    function fill() {
        var input = document.getElementById("floatingInput3").value;
        if (input == "") {
            return false;
        }
    }
    var toggle = 1;
    var div_auth = document.getElementById("signin");
    // console.log(div_auth);
    var div_psw = document.getElementById("signin3");

    function classLists(first, second) {
        first.classList.remove("active");
        first.classList.add("inactive");
        second.classList.remove("inactive");
        second.classList.add("active");
    }


    function Error_Message(alert, message) {
        document.getElementById(alert).innerHTML = message;
        document.getElementById(alert).style.color = "red";
        setTimeout(() => {
            document.getElementById(alert).innerHTML = " ";
        }, 5000);
    }

    function change_tab() {
        switch (toggle) {

            case 1:
                var text_value = document.getElementById("floatingInput").value;
                let email_txt = document.getElementById('alert');
                if (text_value != "") {
                    let func_fetch = async (text_value) => {

                        let res = await fetch('/email', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                email: text_value
                            })
                        })
                        let data = await res.json();
                        if (data.status == 200) {
                            classLists(div_auth, div_psw);
                        } else if (data.status == 404) {
                            toggle = 1;
                            Error_Message('alert', data.msg);
                        }
                    }
                    func_fetch(text_value);
                }
                else {
                    Error_Message('alert', 'Please Enter Email Address');
                    return;
                }
                break;

            case 2:
                // console.log("");
                var psw = document.getElementById('floatingInput3').value;
                var psw_txt = document.getElementById('alert2');
                var sub = document.getElementById('submit');
                console.log(psw);
                if (psw == "") {
                    document.getElementById("warning2").innerHTML = "Please Fill all the fields!!"
                    document.getElementById("warning2").style.color = "red";
                }
                else {
                        let func_fetch = async (psw) => {

                            let res = await fetch('/signin', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    password: psw
                                })
                            })
                            // let data1 = await res.json();
                            // console.log(data1);
                            // if (data1.status == 200) {
                            //      classLists(div_psw,div_auth);
                            //     // console.log("hello");
                            // } else if (data1.status == 404) { 
                            //     toggle = 2;
                            //     Error_Message('alert2','PASSWORD NOT FOUND');
                            //     sub.style.pointerEvents = 'none';

                               
                            // }
                        func_fetch(psw);
                    } 
                }
                break;

            default:
                alert("No Further steps");
                break;

        }
        if (toggle == 2) {
            toggle = 2;
        }
        else {
            toggle++;
        }
        console.log(toggle);


    }

</script>

</html>