* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #999999 !important;
}

body a {
    text-decoration: none;
}

.div-img {
    display: flex;
    justify-content: center;
}

.twitter-logo {
    height: 50px;
    width: 50px;
}

.form-box {
    margin-top: 50px;
}

.form_register {
    max-width: 550px;
    max-height: 700px;
    margin: 0 auto;
    padding: 20px 50px 30px;
    background: #FFFFFF;
    border-radius: 8px;
}

.content {
    margin-top: 30px;
    font-size: 34px;
    font-weight: bold;
}

input[type="text"] {
    margin-top: 20px;
    width: 100%;
    padding-top: 10px;
    border: 1px solid #858e92;
    padding-bottom: 8px;
}

input[type="text"]:focus {
    border: 1px solid #1DA1F2;
    outline: none;
}

.p1 {
    margin-top: 20px;
}

.p1-span {
    color: #63757f;
    display: flex;
}

.active_link {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    background: #000;
    border-radius: 20px;
    padding: 5px;
}

.active_link a:link,
.active_link a:visited,
.active_link a:hover {
    color: #FFF;
    text-decoration: none;
}

.active_link:hover {
    background: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.get-btn {
    border-radius: 14px;
    padding: 15px 35px 15px 35px;
    background-color: black;
    font-weight: 600;
    text-align: center;
    color: #63757f;
    width: 100%;
}

.sec-a {
    width: 100%;
    margin-top: 120px;
    border: 1px solid;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
    background: black;
}

#next {
    color: #FFF;
}