* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #999999 !important;
}

.twitter-logo {
    height: 50px;
    width: 50px;
}

.h1-pass {
    font-weight: bold;
    font-size: 34px;
}

.google {
    border: 1px solid #b1aaaa;
    ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 10px 10px;
    gap: 10px;
}

.google-p {
    padding-top: 5px;
}

.form-floating {
    border: 1px solid #b1aaaa;
    ;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
}

input[type="text"]:focus {
    border: 0px solid #1DA1F2;
    border-radius: 15px;
    outline: none;
}

.Login {
    margin-top: 120px;
    color: #000;
    background-color: black;
    width: 100%;
    font-family: system-ui;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    border: 0;
}

.content .btn:hover {
    background-color: #7c8082;
}

.content a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

.content a:hover {
    color: #039BE5;
}

.form-box {
    margin-top: 110px;
}

.form-register {
    max-height: 700px;
    max-width: 550px;
    margin: 0 auto;
    padding: 20px 50px 30px;
    background: #FFFFFF;
    border-radius: 8px;
}

.name p {
    margin-top: 45px;
    margin-bottom: 1rem;
    color: grey;
}

.content h1 {
    margin-top: 30px;
    font-size: 34px;
    font-weight: bold;
}

.content p {
    margin-top: 20px;
}