* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #999999 !important;
}

body a {
    text-decoration: none;
}

.div-img {
    display: flex;
    justify-content: center;
}

input[type="text"] {
    margin-top: 20px;
    width: 100%;
    padding-top: 10px;
    border: 1px solid #858e92;
    padding-bottom: 8px;
}

input[type="text"]:focus {
    border: 1px solid #1DA1F2;
    outline: none;
}

.active_link {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    background: #000;
    border-radius: 20px;
    padding: 5px;
}

.active_link a:link,
.active_link a:visited,
.active_link a:hover {
    color: #FFF;
    text-decoration: none;
}

.active_link:hover {
    background: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.sec-a-page1 {
    border: 1px solid;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
    background: black;
}

.sec-a-page2 {
    border: 1px solid;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
    background: black;
}

.cancel-a {
    margin-top: 10px;
    border: 1px solid;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
    background: white;
}

.p3 {
    display: flex;
    justify-content: space-between;
}

#cancel {
    color: #000;
}

.round {
    position: relative;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 22px;
    left: -15px;
    position: absolute;
    top: 0;
    width: 22px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 6px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
    background-color: #1DA1F2;
}

.round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

.twitter-logo {
    height: 50px;
    width: 50px;
}

.form-box {
    margin-top: 50px;
}

.form_register {
    width: 550px;
    height: 530px;
    margin: 0 auto;
    padding: 20px 50px 30px;
    background: #FFFFFF;
    border-radius: 8px;
}

.active {
    display: block;
}

.in_active {
    display: none;
}

.content h3 {
    margin-top: 30px;
    font-size: 34px;
    font-weight: bold;
}

.p1 {
    margin-top: 20px;
}

.p1-span {
    color: #63757f;
    display: flex;
    font-size: 18px;
}

.p2-span {
    color: #63757f;
    display: flex;
}

.p2-1 {
    font-weight: 600;
    letter-spacing: 0.5px;
}

.p3-label {
    color: #1DA1F2;
}

.active_link {
    display: flex;
    justify-content: center;
    margin-top: 30%;
    background: #000;
    border-radius: 20px;
    padding: 5px;
}

.active_link a:link,
.active_link a:visited,
.active_link a:hover {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

.active_link:hover {
    background: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.common_p p {
    font-size: 14px;
    opacity: 0.5;
    text-align: left;
}

.next {
    border: 1px solid;
    text-align: center;
    margin-top: 20%;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
    background: black;
}

.submit {
    border: 1px solid;
    text-align: center;
    margin-top: 20%;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
    background: black;
    color: white;
    width: 100%;
}

.next-page2 {
    border: 1px solid;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
    background: black;
}

.next-page2 a:link,
.next-page2 a:visited,
.next-page2 a:hover,
.next a:link,
.next a:visited,
.next a:hover {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

.next:hover,
.next-page2:hover {
    background: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.error_message {
    margin-top: 10px;
}