@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* text-align: justify; */
}

body {
    background: #999999 !important;
    overflow: hidden;
}

#counter {
    font-weight: bold;
}

.t_logo img {
    width: 20%;
    height: 20%;
}

.twitter-logo {
    height: 50px;
    width: 50px;
}

.form-box {
    margin-top: 50px;
    /* box-shadow: #000;
    border-width: 2px solid black; */
}

.code_title {
    margin-top: 4%;
}

.form-register {
    max-width: 550px;
    margin: 0 auto;
    padding: 20px 50px 30px;
    background: #FFFFFF;
    border-radius: 8px;
}

.active {
    display: block;
}

.in_active {
    display: none;
}

h1,
p {
    text-align: center;
}

input,
textarea {
    width: 100%;
}

.create_link {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    background: #000;
    border-radius: 10px;
    padding: 5px;
}

.create_link a:link,
.create_link a:visited,
.create_link a:hover {
    color: #fff;
    text-decoration: none;
}

.create_link:hover {
    background: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.content p {
    font-size: 1.5em;
    font-weight: bold;
}

.google {
    border: 1px solid #B1AAAA;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 10px;
    padding: 5px;
    background: #000;
    /* gap: 10px; */
}

.google-p {
    padding-top: 5px;
    color: #fff;
}

.or {
    margin-top: 20px;
    text-align: center;
}

.tos {
    margin-top: 7px;
    font-size: 13px;
    text-align: justify;
}

.tos a {
    text-decoration: none;
}

.sign-in {
    margin-top: 18px;
    font-size: 13px;
    text-align: center;
}

.sign-in a {
    text-decoration: none;
}

.v-create h3 {
    font-weight: 600;
}

.v-name {
    margin-top: 30px;
}

.v-mail {
    margin-top: 20px;
}

.v-dob {
    margin-top: 35px;
}

.v-dob p {
    color: grey;
    font-size: 12px;
    text-align: justify;
}

.next {
    display: flex;
    justify-content: center;
    background: #000;
    border-radius: 20px;
    padding: 5px;
    margin-top: 70px;
}

.next a:link,
.next a:visited,
.next a:hover {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

.next:hover {
    background: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}
.next input[type=submit] {
    display: flex;
    justify-content: center;
    background: none;
    padding: 5px;
    border: none;
    outline: none;
    color: white;
}

.tp {
    margin-top: 7px;
    font-size: 13px;
}

.tp a {
    text-decoration: none;
}

.tp p {
    text-align: justify;
}

.v-content {
    margin-top: 30px;
}

.v-content h5 {
    font-size: 18px;
    font-weight: 600;
}

.v-checkbox {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.checkbox-content {
    text-align: justify;
    font-size: 14px;
}

.v-checkbox input {
    margin-left: 7px;
    margin-bottom: 50px;
    border-color: black;
    border-width: 30px;
}


.sign-up {
    display: flex;
    justify-content: center;
    background: rgb(63, 162, 201);
    border-radius: 20px;
    padding: 5px;
    margin-top: 30px;
    font-weight: 200;
    letter-spacing: 0.5px;
}

.sign-up a:link,
.sign-up a:visited,
.sign-up a:hover {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

.sign-up:hover {
    background: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}


/* sid ni css */
.content h3,p{
    text-align: center;

}
.content p {
    font-size: 14px;
    padding-top: 2%;
    opacity: 0.5;
}

.common_p p {
    font-size: 14px;
    opacity: 0.5;
    text-align: left;
}