* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: grey !important;
    overflow: hidden;
}
#counter{
    font-weight: bold;
}
.active{
    display: block;
}
.in_active{
    display: none;
}
.t_logo img {
    width: 50px;
    height: 50px
}

.form-box {
    margin-top: 50px;
}

.form_register {
    max-width: 550px;
    margin: 0 auto;
    padding: 20px 50px 30px;
    background: #FFFFFF;
    border-radius: 8px;
   
    }

.content h3,p{
    text-align: center;

}

.active_link {
    display: flex;
    justify-content: center;
    margin-top: 30%;
    background: #000;
    border-radius: 20px;
    padding: 5px;
}

.active_link a:link,
.active_link a:visited,
.active_link a:hover {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

.active_link:hover {
    background: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.content p {
    font-size: 14px;
    padding-top: 2%;
    opacity: 0.5;
}
.common_p p{
    font-size: 14px;
    opacity: 0.5;
    text-align: left;
}

.next{
    display: flex;
    justify-content: center;
    margin-top: 30%;
    background: #000;
    border-radius: 20px;
    padding: 5px;
    
}

.next a:link,
.next a:visited,
.next a:hover {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

.next:hover {
    background: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}