<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" type="text/css">
    <link rel="stylesheet" href="/css/logout.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="form-box">
            <div class="form-register">


                <div class="t_logo d-flex justify-content-center mb-2">
                    <img src="/assets/thumb-logo-twitter.png" alt="tiwtter_logo">
                </div>

                <div class="logout">
                    <h2>Logout of Twitter?
                    </h2>
                </div>

                <div class="logout-content">
                    <p>You can always login back at any time. If you just want to switch account, you can do thatby adding an exixting account.
                    </p>
                </div>
                
                <div class="logout-btn">
                    <a href="/tweet_logout/logout">Logout</a><br>
                </div>
                <div class="logout-btn">
                    <a href="/homePage">Cancel</a><br>
                </div>


            </div>

        </div>

    </div>

</body>

</html>