<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/tblue.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" type="text/css">
    <!-- <link rel="stylesheet" href="/public/css/tblue.css" type="text/css"> -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Twitter blue</title>


</head>

<body>
    <div class="container">
        <div class="form-box">
            <div class="form-register">
                <div class="account" id="create_account">
                    <!-- <form class="blue-form" name="blueForm" onsubmit="return tblue_tab()" action="post"> -->

                    <div class="tblue-one active" id="tblue_one">
                        <div class="blue-head">
                            <!-- <img src="/public/images/bluehead.png" alt="Twitter blue "> -->
                            <img src="/assets/bluehead.png" alt="Twitter blue ">
                        </div>

                        <div class="content-div">

                            <div class="blue-tick">
                                <div class="tick-content">
                                    <p>Blue subscribers with a verified phone number will get a blue checkmarkonce approved.</p>
                                </div>
                                <div class="tick-img">
                                    <img src="/assets/Twitter_Verified_Badge.png " alt="verified_badge ">
                                </div>
                            </div>

                            <div class="features">
                                <div class="feature-one">
                                    <div class="gift-icon ">
                                        <img src="/assets/gift-removebg.png">
                                    </div>
                                    <div class="gift-content">
                                        <h5>All the existing blue features</h5>
                                        <p>Edit tweet, 1080px video uploads, Reader, Custom navigation, Bookmark Folders, Top articles, and more.</p>
                                    </div>
                                </div>

                                <div class="feature-one">
                                    <div class="gift-icon">
                                        <img src="/assets/gift-removebg.png">
                                    </div>
                                    <div class="gift-content">
                                        <h5>Miscellenous exciting features</h5>
                                        <p>Tweets from verified users will be prioritized<br> Helping to fight against <b>Scams & Spams!</b></p>
                                    </div>
                                </div>

                            </div>

                            <div class="subscription">
                                <div class="annual-plan" onclick="return tblue_tab()">
                                    <h6>Annual Plan</h6>
                                    <h5>$6/month</h5>
                                    <h4>Save 12%</h4>
                                </div>

                                <div class="annual-plan" onclick="return tblue_tab()">
                                    <h6>Monthly Plan</h6>
                                    <h5>$8/month</h5>
                                </div>
                            </div>

                            <div class="subscribe-btn" id="subs">
                                <a href="javaScript:void(0)" onclick="return tblue_tab()" id="t1" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Subscribe</a>
                            </div>

                        </div>
                    </div>

                    <div class="tblue-two in_active" id="tblue_two">

                        <div class="white-t_logo d-flex justify-content-center mb-2">
                            <img src="/assets/white-logo.png" alt="twitter_logo">
                        </div>

                        <div class="sorry-content">
                            <div class="sorry">
                                <h3>Sorry, your account is not eligible for twitter blue at this time</h3>
                            </div>

                            <div class="reasons">
                                <h6>You are currently ineligible for the following reason(s):</h6>
                            </div>

                            <div class="bullet-points">
                                <p>
                                    - Your account is less than 90 days old <br>
                                    <!--// -->
                                    - Your account has been inacitve for past 30 days <br>
                                    <!--// -->
                                    - You changed your profile photo, display name, or <br> &emsp;username within last 3 days<br>
                                </p>
                            </div>

                            <div class="later">
                                Please try subscribing again in the future!
                            </div>
                            <div class="subscribe-btn" id="close">
                                <a href="http://localhost:8000/homePage" id=t2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Close</a>
                                <!-- <a href="'http://localhost:' + process.env.PORT" id=t2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Close</a> -->
                            </div>
                        </div>
                    </div>
                    <!-- </form> -->
                </div>

            </div>
        </div>
    </div>
</body>
<script src="/js/tblue.js">
</script>

</html>